$borderColor: gray;
$backgroundColor: white;
$fontSize: 11px;
$wrap_ZIndex: 11;
$thead_ZIndex: 10;
$column_ZIndex: 9;
$hoverBoxShadow: 0 0 0 1000px rgba(0, 0, 0, 0.1) inset;

$red: #ecbfbf;
$redFont: #210000;
$blue: #b2d8f5;
$blueFont: #001628;
$green: #d4e3d4;
$greenFont: #002800;
$yellow: #fdfd55;
$yellowFont: #383800;
$orange: #eecaa0;
$orangeFont: #2c1600;

.big-table-wrap__border {
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    z-index: $wrap_ZIndex;
    background-color: $borderColor;
  }

  &:before {
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
  }

  &:after {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
  }
}

.big-table-wrap {
  overflow: auto;
  box-sizing: border-box;
  padding: 0 1px 1px 0;
  border-left: 1px solid $borderColor;
}

.big-table {
  border-collapse: collapse;
  font-size: $fontSize;
  width: 100%;

  & > thead,
  & > tbody {
    & > tr > td {
      padding: 4px;
      border-style: solid;
      border-color: $borderColor;
      border-width: 1px 1px 0 0;
      text-align: center;

      &.with-sub-table {
        padding: 0;
      }

      table {
        border-collapse: collapse;
        width: 100%;

        td {
          border-bottom: 1px solid $borderColor;
        }

        tr:last-child td {
          border-bottom: none;
        }
      }
    }

    & > tr:last-child > td {
      border-bottom-width: 0;

      &.row-divider:after {
        display: none;
      }
    }

    & > tr > td:last-child {
      border-right-width: 0;

      &:before {

      }
    }
  }

  & > thead > tr > td:last-child {
    position: relative;
    border-right-width: 0;
  }

  & > tbody > tr > td:before {
    content: '';
    position: absolute;
    width: 100%;
  }

  .hovered,
  & > tbody > tr:hover > td {
    box-shadow: $hoverBoxShadow;
  }

  thead.green td {
    background-color: $green !important;
    color: $greenFont;
  }

  thead.blue td {
    background-color: $blue !important;
    color: $blueFont;
  }

  thead.red td {
    background-color: $red !important;
    color: $redFont;
  }

  thead.yellow td {
    background-color: $yellow !important;
    color: $yellowFont;
  }

  thead.orange td {
    background-color: $orange !important;
    color: $orangeFont;
  }

  thead {
    background: white;
    position: sticky;
    top: 0;
    z-index: $thead_ZIndex;

    tr > td:last-child:before {
      display: none;
    }

    td {
      text-align: center;
      position: relative;
      white-space: nowrap;

      &:not(.fixed-column):before {
        content: '';
        position: absolute;
        width: 1px;
        top: -1px;
        bottom: -1px;
        right: -1px;
        background-color: $borderColor;
      }

      &:not(.fixed-column):after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $borderColor;
      }

      &.no-border:before {
        display: none;
      }

    }

  }

  .row-divider {
    position: sticky;
    z-index: $thead_ZIndex;
    text-align: center;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $borderColor;
      right: 0;
      left: 0;
    }

    &:before {
      top: -1px;
    }

    &:after {
      bottom: -1px;
    }

    div {
      position: sticky;
    }

    &_no-sticky {
      z-index: 1;
    }
  }

  .fixed-column {
    position: sticky;
    z-index: $column_ZIndex;
    background-color: $backgroundColor;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: $borderColor;
    }

    &:before {
      left: -1px;
      right: -2px;
      top: -1px;
      height: 1px;
      width: auto;
    }

    &:after {
      top: -1px;
      bottom: -1px;
      right: -1px;
      width: 1px;
      height: auto;
    }
  }

  .green {
    background-color: $green;
    color: $greenFont;
  }

  .blue {
    background-color: $blue;
    color: $blueFont;
  }

  .red {
    background-color: $red;
    color: $redFont;
  }

  .yellow {
    background-color: $yellow;
    color: $yellowFont;
  }

  .orange {
    background-color: $orange;
    color: $orangeFont;
  }

  .align- {
    &left {
      text-align: left;
    }

    &center {
      text-align: center;
    }

    &right {
      text-align: right;
    }
  }

  .bold {
    font-weight: bold;
  }
}